:root{
    --light-color:#dbb9b9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body{
    background-color: rgb(148, 125, 125);
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    user-select: none;
     cursor: pointer;
     
}
h2{
    font-size: 50px;
    font: weight 50px;

}
.clock{
    width: 600px;
    height: 170px;
    background-color: rgb(14, 12, 11);
    border: 40px solid rgb(146, 51, 51);
    padding: 10px;
    border-radius: 50px;
    box-shadow: rgba(17,17,26,0.05) 0px 4px 16px,rgba(17,17,26,0.05) 0px 8px 32px;
    font-size: 55px;
    font-weight: 600;
    text-align: center;
}
.time{
    color: #ffff;
    text-shadow: 0 0 20px var(--light-color);
}